* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.item-text-size {
  font-size: 14px;
  color: #666;
  font-weight: bold;
}

.form-control-input {
  height: 25px;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  margin-left: auto;
}

.form-control-text {
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  margin-left: auto;
}

label {
  font-size: 12px;
  font-weight: bold;
  color: #444;
}

.main-form-color {
  background-color: #c2c2c2;
  display: flex;
}


.middle-inner-form-section {
  flex: 4;
  padding: 10px 10px 0;
}

.right-inner-form-section {
  flex: 3;
  padding: 10px;
  background-color: #999;
}

.right-inner-form-section .image-section {
  height: 195px;
  width: 250px;
  border: 1px solid #aaa;
  background-color: #fff;
}

.lower-downer-section {
  display: flex;
}

.left-form-group {
  display: flex;
  align-items: center;
  background-color: #999;
  justify-content: center;
  padding: 2px 0;
}

.other-input-section {
  background-color: #c2c2c2;
}

.left-form-group label {
  width: 24%;
  color: #555;
}

.maintenance-customer-info {
  color: #fff;
  font-weight: bold;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  display: flex;
  font-size: 16px;
  padding: 5px;
  justify-content: center;
  background-color: #c2c2c2;
}

.navbar-light {
  background-color: #3A5794;
  height: 60px;
}

.fa-user {
  font-size: 23px;
}

.link-fa-user {
  margin-left: auto;
}

.left-inner-form-section {
  background-color: #3A5794;
  padding: 10px 5px;
  margin-right: 10px;
  flex: 1;
}

.submit-form-top-section {
  flex: 7;
}

.upper-bottom-section {
  background-color: #3A5794;
  text-align: center;
}

.bottom-form-section {
  padding: 2px 10px 0;
  display: flex;
}

.upper-bottom-section .span {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 5px;
}

.form-control-div {
  height: 25px;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.bottom-form-section .form-group {
  width: 25%;
  align-items: center;
}

.left-form-group-division {
  display: flex;
  align-items: center;
  flex: 1;
}

.left-form-group-division .form-control-div {
  flex: 1;
}

.left-form-group-div {
  flex: 1;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
}

.icon-section i {
  font-size: 25px;
  margin: 0 2px;
  color: #fff;
  display: block;
  cursor: pointer;
}

.link-fa-user div {
  margin-left: -120px;
}

.company-logo {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  margin-right: 20px;
}

.fa-times-circle {
  cursor: pointer;
  margin-top: -30px;
  margin-right: 5px;
}

.fa-times-circle-section {
  flex: 1;
  text-align: center;
}